<section class="container">
  <header>
    <div>Chat rooms</div>
    <div>{{ userInfo.name }}</div>
  </header>
  <div class="chat">
    <div class="chat-rooms">
      <ul>
        @for (room of rooms(); track $index; let roomIndex = $index) {
        <li class="chat-room">
          <button type="button" (click)="selectRoom(roomIndex)">
            {{ room.id }} {{ room.name }}
          </button>
        </li>
        }
      </ul>
      <button type="button" (click)="createRoom()">create room</button>
    </div>
    @if (rooms().length > 0) {

    <app-messenger
      class="messenger"
      [userInfo]="userInfo"
      [roomId]="rooms()[currentRoomIndex()].id"
    ></app-messenger>
    }
  </div>
</section>
